h1 {
	font-family: 'Londrina Outline', cursive;
	font-size: 3em;
	font-weight: 600;
	margin: 30px 0;
}
h2, h3 {
	font-family: 'Londrina Outline', cursive;
	font-weight: 600;
}
#reg-pad {
	margin-right: 50px;
}
.btn-style {
	margin-top: 5px;
}
.inp-style {
	margin-bottom: 13px;
}
label, button {
	font-family: 'Amatic SC', cursive;
	font-size: 1.65em;
}
th, td {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.25em;
}
p, li {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.45em;
	padding: 10 0;
}
.error {
	color: #BF0207;
}